.obj1 .icoPrioritario{background-image:url(../image/icoPrioritario_01.png); }
.obj2 .icoPrioritario{background-image:url(../image/icoPrioritario_02.png);}
.obj3 .icoPrioritario{background-image:url(../image/icoPrioritario_03.png);}
.obj4 .icoPrioritario{background-image:url(../image/icoPrioritario_04.png);}
.obj5 .icoPrioritario{background-image:url(../image/icoPrioritario_05.png);}
.obj6 .icoPrioritario{background-image:url(../image/icoPrioritario_06.png);}
.obj7 .icoPrioritario{background-image:url(../image/icoPrioritario_07.png);}
.obj8 .icoPrioritario{background-image:url(../image/icoPrioritario_08.png);}
.obj9 .icoPrioritario{background-image:url(../image/icoPrioritario_09.png);}
.obj10 .icoPrioritario{background-image:url(../image/icoPrioritario_10.png);}
.obj11 .icoPrioritario{background-image:url(../image/icoPrioritario_11.png);}
.obj12 .icoPrioritario{background-image:url(../image/icoPrioritario_12.png);}
.obj13 .icoPrioritario{background-image:url(../image/icoPrioritario_13.png);}
.obj14 .icoPrioritario{background-image:url(../image/icoPrioritario_14.png);}
.obj15 .icoPrioritario{background-image:url(../image/icoPrioritario_15.png);}
.obj16 .icoPrioritario{background-image:url(../image/icoPrioritario_16.png);}

.obj1, .obj1 .popupInfoOpen, .obj1 .itemTitle{background-color:#F16477;}
.obj2, .obj2 .popupInfoOpen, .obj2 .itemTitle{background-color:#B92F92;}
.obj3, .obj3 .popupInfoOpen, .obj3 .itemTitle{background-color:#9B5BA5;}
.obj4, .obj4 .popupInfoOpen, .obj4 .itemTitle{background-color:#B1005D;}
.obj5, .obj5 .popupInfoOpen, .obj5 .itemTitle{background-color:#0079C1;}
.obj6, .obj6 .popupInfoOpen, .obj6 .itemTitle{background-color:#00B5CC;}
.obj7, .obj7 .popupInfoOpen, .obj7 .itemTitle{background-color:#7E81BE;}
.obj8, .obj8 .popupInfoOpen, .obj8 .itemTitle{background-color:#492F92;}
.obj9, .obj9 .popupInfoOpen, .obj9 .itemTitle{background-color:#7AC143;}
.obj10, .obj10 .popupInfoOpen, .obj10 .itemTitle{background-color:#B2BB1E;}
.obj11, .obj11 .popupInfoOpen, .obj11 .itemTitle{background-color:#60C5BA;}
.obj12, .obj12 .popupInfoOpen, .obj12 .itemTitle{background-color:#00958F;}
.obj13, .obj13 .popupInfoOpen, .obj13 .itemTitle{background-color:#F58025;}
.obj14, .obj14 .popupInfoOpen, .obj14 .itemTitle{background-color:#FDB913;}
.obj15, .obj15 .popupInfoOpen, .obj15 .itemTitle{background-color:#BB8D0B;}
.obj16, .obj16 .popupInfoOpen, .obj16 .itemTitle{background-color:#B15C12;}


.obj1, .obj1 #rItemBox4m2, .obj1 #pItemBox4m2{border-color:#F16477;}
.obj2, .obj2 #rItemBox4m2, .obj2 #pItemBox4m2{border-color:#B92F92;}
.obj3, .obj3 #rItemBox4m2, .obj3 #pItemBox4m2{border-color:#9B5BA5;}
.obj4, .obj4 #rItemBox4m2, .obj4 #pItemBox4m2{border-color:#B1005D;}
.obj5, .obj5 #rItemBox4m2, .obj5 #pItemBox4m2{border-color:#0079C1;}
.obj6, .obj6 #rItemBox4m2, .obj6 #pItemBox4m2{border-color:#00B5CC;}
.obj7, .obj7 #rItemBox4m2, .obj7 #pItemBox4m2{border-color:#7E81BE;}
.obj8, .obj8 #rItemBox4m2, .obj8 #pItemBox4m2{border-color:#492F92;}
.obj9, .obj9 #rItemBox4m2, .obj9 #pItemBox4m2{border-color:#7AC143;}
.obj10, .obj10 #rItemBox4m2, .obj10 #pItemBox4m2{border-color:#B2BB1E;}
.obj11, .obj11 #rItemBox4m2, .obj11 #pItemBox4m2{border-color:#60C5BA;}
.obj12, .obj12 #rItemBox4m2, .obj12 #pItemBox4m2{border-color:#00958F;}
.obj13, .obj13 #rItemBox4m2, .obj13 #pItemBox4m2{border-color:#F58025;}
.obj14, .obj14 #rItemBox4m2, .obj14 #pItemBox4m2{border-color:#FDB913;}
.obj15, .obj15 #rItemBox4m2, .obj15 #pItemBox4m2{border-color:#BB8D0B;}
.obj16, .obj16 #rItemBox4m2, .obj16 #pItemBox4m2{border-color:#B15C12;}

.obj1 .col8:first-child {border-color:#F16477; color:#F16477;}
.obj2 .col8:first-child {border-color:#B92F92; color:#B92F92;}
.obj3 .col8:first-child {border-color:#9B5BA5; color:#9B5BA5;}
.obj4 .col8:first-child {border-color:#B1005D; color:#B1005D;}
.obj5 .col8:first-child {border-color:#0079C1; color:#0079C1;}
.obj6 .col8:first-child {border-color:#00B5CC; color:#00B5CC;}
.obj7 .col8:first-child {border-color:#7E81BE; color:#7E81BE;}
.obj8 .col8:first-child {border-color:#492F92; color:#492F92;}
.obj9 .col8:first-child {border-color:#7AC143; color:#7AC143;}
.obj10 .col8:first-child {border-color:#B2BB1E; color:#B2BB1E;}
.obj11 .col8:first-child {border-color:#60C5BA; color:#60C5BA;}
.obj12 .col8:first-child {border-color:#00958F; color:#00958F;}
.obj13 .col8:first-child {border-color:#F58025; color:#F58025;}
.obj14 .col8:first-child {border-color:#FDB913; color:#FDB913;}
.obj15 .col8:first-child {border-color:#BB8D0B; color:#BB8D0B;}
.obj16 .col8:first-child {border-color:#B15C12; color:#B15C12;}


.obj1 .rowPrioritario{ background-color:rgba(241,100,119,.15) !important;}
.obj2 .rowPrioritario{ background-color:rgba(185,47,146,.15) !important;}
.obj3 .rowPrioritario{ background-color:rgba(155,91,165,.15) !important;}
.obj4 .rowPrioritario{ background-color:rgba(177, 0, 93, 0.15) !important;}
.obj5 .rowPrioritario{ background-color:rgba(0, 121, 193, 0.15) !important;}
.obj6 .rowPrioritario{ background-color:rgba(0, 181, 204, 0.15) !important;}
.obj7 .rowPrioritario{ background-color:rgba(126, 129, 190, 0.15) !important;}
.obj8 .rowPrioritario{ background-color:rgba(73, 47, 146, 0.15) !important;}
.obj9 .rowPrioritario{ background-color:rgba(122, 193, 67, 0.15) !important;}
.obj10 .rowPrioritario{ background-color:rgba(178, 187, 30, 0.15) !important;}
.obj11 .rowPrioritario{ background-color:rgba(96, 197, 186, 0.15) !important;}
.obj12 .rowPrioritario{ background-color:rgba(0, 149, 143, 0.15) !important;}
.obj13 .rowPrioritario{ background-color:rgba(245, 128, 37, 0.15) !important;}
.obj14 .rowPrioritario{ background-color:rgba(253, 185, 19, 0.15) !important;}
.obj15 .rowPrioritario{ background-color:rgba(187, 141, 11, 0.15) !important;}
.obj16 .rowPrioritario{ background-color:rgba(177, 92, 18, 0.15) !important;}


.fsel{color: #636466;}
.obj1t{color:#F16477;}
.obj2t{color:#B92F92;}
.obj3t{color:#9B5BA5;}
.obj4t{color:#B1005D;}
.obj5t{color:#0079C1;}
.obj6t{color:#00B5CC;}
.obj7t{color:#7E81BE;}
.obj8t{color:#492F92;}
.obj9t{color:#7AC143;}
.obj10t{color:#B2BB1E;}
.obj11t{color:#60C5BA;}
.obj12t{color:#00958F;}
.obj13t{color:#F58025;}
.obj14t{color:#FDB913;}
.obj15t{color:#BB8D0B;}
.obj16t{color:#B15C12;}

